
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
input[type="file"]{
  /* display: none; */
  background: rgb(255, 255, 255);
  padding-left: 1%;
}
  

.hotelform Input{
    border: 1px solid gray;
    width: 95%;
    height: 2.5rem;
    border-radius: 0.3rem;
    text-align: center;  
    margin-bottom: 1rem; 
    margin-left: 0.5rem;
    padding-top: 0.3rem;
    /* display: block; */
}
.hotelform  h1{
  max-width: fit-content;
  margin-left: 0.5rem;
  margin-top: -1.5rem;

}

.hotelform Select{
    width: 95%;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
  
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.hotelform label{
    display: inline-block;
    font-size: 0.9rem;
  max-width: fit-content;
    margin-left: 0.5rem;
    /* text-align: right; */
}